<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail article</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img [src]="globalService.selectArticle.image" alt="">
      <ion-card-title>{{ globalService.selectArticle.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ globalService.selectArticle.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>